{% extends "layout.html" %}

{% load static %}

{% block title %}
Book Search - Booktales
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top custom-shadow ">
    <div class="container-fluid">
      
      <a class="navbar-brand d-flex align-items-center" href="{% url 'tales_list' %}">
        <img src="{% static 'images/rb_66538.png' %}" alt="Booktales Logo" width="30" height="30" class="me-2">
        <span>Booktales</span>
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'tales_list' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">   </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">About Us</a></li>
              <li><a class="dropdown-item" href="#">Contact Info</a></li>
              
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" href="{% url "tales_user_list" %}"> User Profile </a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" role="search" method="get" action="{% url 'tales_list' %}">
          <input class="form-control me-2 custom-shadow-button" type="search" name="q" placeholder="Search for tales" aria-label="Search" value="{{ query|default:'' }}">
          <button class="btn btn-outline-success custom-shadow-button" type="submit">Search</button>
        </form>
          {% if user.is_authenticated %}
          <form action= {% url 'logout' %} method="post">
            {% csrf_token %}
            <button class="btn btn-danger mx-2 custom-shadow-button" type = 'submit'>Logout</button>
          </form>
          {% else %}
          <a href="{%url 'login'%}" class="btn btn-primary ms-2 custom-shadow-button" >Login</a>
          <a href="{%url 'register'%}" class="btn btn-secondary mx-2 custom-shadow-button" >Register</a>
          {% endif %}
      </div>
    </div>
      
  </nav>
<style>
    .container {
      min-height: 80vh; 
    }
  </style>
<div class="container mt-5">
    <h2 class="text-center">Search for book you read</h2>

    <form method="get" action="{% url 'book_search' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Search for a book..." class="form-control ">
        <button type="submit" class="btn btn-primary mt-3 mb-3">Search</button>
    </form>

    {% if books %}
    <div class="container row gap-3 mb-4">
        {% for book in books %}
        <div class="card" style="width: 18rem;">
                {% if book.cover_i %}
                <img src="https://covers.openlibrary.org/b/id/{{ book.cover_i }}-L.jpg" class="card-img-top mt-3" alt="{{ book.title }}" style="object-fit: cover; height: 400px;">
                {% else %}
                <img src="https://cdn-icons-png.freepik.com/512/6941/6941695.png?ga=GA1.1.100694631.1735112083" style="object-fit: cover; height: 426px;" class="card-img-top" alt="No cover image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.author_name|join:", " }}</p>
    
                    <a href="{% url 'tales_create' %}?book_id={{ book.key }}" class="btn btn-primary">Create tale</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
